@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #DFE9E9;
  height: 55px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.wcglogo {
  height: 35px;
  float: left;
  margin: 12px 0;
  padding-right: 9px;
  border-right: solid rgba(192, 192, 192, 0.4) 2px;
}

.wcglogo2 {
  height: 35px;
  float: left;
  margin: 12px 0;
  padding-right: 9px;
  border-right: solid rgba(192, 192, 192, 0.4) 2px;
  display: none;
}

.ibmlogo {
  height: 20px;
  float: left;
  margin: 20px 0 0 9px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
  margin: 15px 15px 0 0;
  font-size: 22px;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: white;
}

.log-in {
  color: #D54427;
  border-bottom: solid rgba(213, 68, 39, 0.4) 2px;
  transition: border-bottom 0.2s;
}

.log-in:hover {
  border-bottom: solid rgba(213, 68, 39, 1) 2px;
}

.join {
  background-color: #D54427;
  padding: 4px 9px;
  transition: background-color 0.2s, color 0.2s;
}

.join:hover {
  background-color: white;
  color: #D54427
}

.x-icon {
  color: black;
  font-size: 25px;
}

@media only screen and (max-width: 852px) {
  .wcglogo {
    display: none;
  }

  .wcglogo2 {
    display: block;
  }
} 
